@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&family=Roboto+Condensed&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(112, 111, 112, 0.3);
}

.category-title {
  font-family: 'Fraunces', serif;
  font-size: 24px;
  border-bottom: #000 dotted 1px;
  text-align: center;
}

.menu-title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Fraunces', serif;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  padding: 10px 15px;
  font-size: 16px;
}
